:root {
  --grey: #807b7b;
  --oba-green: #2d4c2e;
  --bg-color: #fffff0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-color);
}

/* navigation */
.active {
  @apply text-black font-medium;
}
